@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Hiba!</h1>
<h2 class="text-danger">Hiba történ a kérés feldolgozása közben.</h2>
<p>Kattintson <a href="javascript:history.go(-1)">ide</a>, ha vissza szeretne lépni az előző oldalra!</p>
