@model Webshop.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Fiókbeállítás</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Jelszó:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Jelszó megváltoztatása", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Jelszó létrehozása", "SetPassword")
            }
            ]
        </dd>
        
    </dl>
</div>
