@{
    ViewBag.Title = "About";
}

<h2>Elektronikai webáruház</h2>
<p>
    Sok szöveg sok szöveg sok szöveg sok szöveg sok szöveg
    sok szöveg sok szöveg sok szöveg sok szöveg sok szöveg
    sok szöveg sok szöveg sok szöveg sok szöveg sok szöveg
    sok szöveg sok szöveg sok szöveg sok szöveg sok szöveg
    sok szöveg sok szöveg sok szöveg sok szöveg sok szöveg
    sok szöveg sok szöveg sok szöveg sok szöveg sok szöveg
</p>
<p>
    Megint sok szöveg megint sok szöveg megint sok szöveg  megint sok szöveg  megint sok szöveg
    megint sok szöveg  megint sok szöveg  megint sok szöveg  megint sok szöveg  megint sok szöveg
    megint sok szöveg  megint sok szöveg  megint sok szöveg  megint sok szöveg  megint sok szöveg
    megint sok szöveg  megint sok szöveg  megint sok szöveg  megint sok szöveg  megint sok szöveg
    megint sok szöveg  megint sok szöveg  megint sok szöveg  megint sok szöveg  megint sok szöveg
</p>
