@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-6">
        <h2>Elérhetőségek</h2>
        <address>
            <strong>Support:</strong>   <a href="mailto:hodiger@gmail.com">hodiger@gmail.com</a><br />
        </address>
    </div>
    <div class="col-md-6">
        <p>
            Térkép ide
        </p>
    </div>
</div>