@{
    ViewBag.Title = "Főoldal";
}

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="inputKeres">Keresés</label>
            <input class="form-control" id="inputKeres" type="text">
        </div>
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Kategória
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Monitor</a></li>
                    <li><a href="#">Egér</a></li>
                    <li><a href="#">Processzor</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <p>
            Termék data
        </p>
    </div>
</div>