
@{
    ViewBag.Title = "Kosar";
}

<div class="row">
    <div class="col-md-4">
        <p>A teljes összeg: xy Ft.-</p>
        <button type="button" class="btn btn-primary btn-md">Fizetés</button>
    </div>
    <div class="col-md-8">
        <p>
            Termék data
        </p>
    </div>
</div>