@model Webshop.Models.Category

@{
    ViewBag.Title = "DeleteCategory";
}

<h3>Biztosan törli?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kategória
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-default" /> |
            @Html.ActionLink("Vissza", "Index")
        </div>
    }
</div>