@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <img class="img-responsive" src="/Content/images/mock_webshop.jpg" alt="">
    </div>
</div>