@{
    ViewBag.Title = "Webáruház";
}

    <h2 class="text-center">Elektronikai webáruház</h2>
    <div class="col-md-6 col-md-offset-3 text-center">
        <img class="img-responsive" src="/Content/images/mock_webshop.jpg" alt="">
    </div>
